.Divbody{
    border: 3px solid black;
    width: 30%;
    background-color: rgb(154, 182, 189);
    text-align: center;
}
.heading{
    background-color: rgb(12, 74, 85);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
}
#root{
    display: flex;
    justify-content: center;
}
.Divbody:hover{
    background-color: salmon;
}
.heading:hover{
    color: black;
    background-color: teal;
}
.itemlabel{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}
.item{
    background-color: teal;
    color: wheat;
    font-size: 20px;
    margin: 10px;
}
.btn{
    width: 50%;
    background-color: rgb(12, 97, 69);
    color: thistle;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.show{
    font-size: 20px;
    
}

.li{
    background-color: rgb(119, 173, 142); 
    margin: 14px;
}
.liitem{
    text-align: left;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    height: 20px;
}
.delbtn{
    font-size: 15px;
    width: 30%;
    background-color:whitesmoke ;
}
.delbtn:hover{
    background-color: teal;
    font-size: 20px;
    color:whitesmoke
}